.container {
  margin: 3rem;
  h3 {
    font-family: "Bee Dee Groovy", Arial;
    font-weight: normal;
    text-transform: lowercase;
    color: #ff206e;
    margin: 0 0 0.5rem;
    font-size: 40px;
  }
  p {
    margin: 0;
    color: #f7fbbc;
    font-size: 18px;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }

  .allergens {
    color: #b6b6b6;
    font-size: 0.85rem;
    margin-top: 0.5rem;
  }

  @media (min-width: 400px) {
    h3 {
      font-size: 50px;
    }
  }
}

.course {
  margin-bottom: 2rem;
}
