$barsize: 20px;
.container {
  position: relative;
  width: calc(100% + 4rem);
}

.hr {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 0em;
  padding: 2em 0;

  &:after,
  &:before {
    content: "";
    position: absolute;

    width: 100%;
    height: 1px;
    bottom: 50%;
    left: 0;
  }

  &:before {
    background: linear-gradient(
      90deg,
      var(--site-bg-color) 0%,
      var(--site-bg-color) 50%,
      transparent 50%,
      transparent 100%
    );
    background-size: $barsize;
    background-position: center;
    z-index: 1;
  }

  &:after {
    transition: opacity 0.3s ease, animation 0.3s ease;

    background: linear-gradient(
      to right,
      #62efab 5%,
      #f2ea7d 15%,
      #f2ea7d 25%,
      #ff8797 35%,
      #ff8797 45%,
      #e1a4f4 55%,
      #e1a4f4 65%,
      #82fff4 75%,
      #82fff4 85%,
      #62efab 95%
    );

    background-size: 200%;
    background-position: 0%;
    animation: bar 10s linear infinite;
  }
}

.hrAnimate {
  &:before {
    background: linear-gradient(
      90deg,
      var(--site-bg-color) 0%,
      var(--site-bg-color) 5%,
      transparent 5%,
      transparent 10%,
      var(--site-bg-color) 10%,
      var(--site-bg-color) 15%,
      transparent 15%,
      transparent 20%,
      var(--site-bg-color) 20%,
      var(--site-bg-color) 25%,
      transparent 25%,
      transparent 30%,
      var(--site-bg-color) 30%,
      var(--site-bg-color) 35%,
      transparent 35%,
      transparent 40%,
      var(--site-bg-color) 40%,
      var(--site-bg-color) 45%,
      transparent 45%,
      transparent 50%,
      var(--site-bg-color) 50%,
      var(--site-bg-color) 55%,
      transparent 55%,
      transparent 60%,
      var(--site-bg-color) 60%,
      var(--site-bg-color) 65%,
      transparent 65%,
      transparent 70%,
      var(--site-bg-color) 70%,
      var(--site-bg-color) 75%,
      transparent 75%,
      transparent 80%,
      var(--site-bg-color) 80%,
      var(--site-bg-color) 85%,
      transparent 85%,
      transparent 90%,
      var(--site-bg-color) 90%,
      var(--site-bg-color) 95%,
      transparent 95%,
      transparent 100%
    );

    background-size: $barsize * 10;
    background-position: center;
    z-index: 1;

    animation: bar var(--divider-anim-speed) linear infinite;
  }
}

.item {
  position: absolute;
  // top: 54px;
  left: -90px;
  // background-image: url("/images/nyancat.svg");
  // width: calc(100% + 4rem);
  width: calc(100% + 90px);
  height: 80px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  display: block;
  animation: runningFood var(--divider-anim-speed) linear;
  z-index: 10;
}

.itemReversed {
  background-position: right;
  transform: scaleX(-1);
}

.hrAnimateReverse {
  &:before {
    transform: scaleX(-1)
  }
}
@keyframes bar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

@keyframes runningFood {
  0% {
    background-position: calc(0% - 200px);
  }
  100% {
    background-position: calc(100% + 200px);
  }
}