@font-face {
  font-family: "Bee Dee Groovy";
  src: url("/fonts/BeeDeeGroovy-Regular.woff2") format("woff2"),
    url("/fonts/BeeDeeGroovy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #ffed65;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  color: #50514f;
}

* {
  box-sizing: border-box;
}
