:root {
  --site-bg-color: #10111f;
  --site-default-color: #fff;
  --text-color: #e9e9e9;
  --divider-anim-speed: 0;
  --divider-food-anim-speed: 0;
  --divider-bar-size: 0px;
  /* //#10111F; */
}
@font-face {
  font-family: "Bee Dee Groovy";
  src: url("/fonts/BeeDeeGroovy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

body {
  background-color: var(--site-bg-color);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  color: var(--text-color);
}

h3,
h4 {
  color: var(--site-default-color);
}

* {
  box-sizing: border-box;
}
