.container {
  padding: 0 2rem;
}

.main {
  min-height: 91vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.title {
  font-family: "Bee Dee Groovy", Arial;
  font-weight: normal;
  color: #41ead4;
  margin: 0;
  line-height: 0.8;
  font-size: 6rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  // @media (min-width: 880px) {
  //   justify-content: flex-start;
  // }

  // @media (max-width: 600px) {
  //   width: 100%;
  //   flex-direction: column;
  // }
}

.weekHeader {
  font-family: "Bee Dee Groovy", Arial;
  color: #41ead4;
  font-weight: normal;
  font-size: 4rem;
  margin: 50px 0 10px;
  text-align: center;
}

@media (min-width: 600px) {
  .title {
    font-size: 8rem;
  }
}
